    <div [hidden]="mostrarFormulario">
            
        <table mat-table [dataSource]="dataSource" #tabla>        
            <!-- Position Column -->
    
          
            <!-- Name Column -->
            <ng-container matColumnDef="servNombre">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Nombre</b> </h3></div></th>
              <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.servNombre}} </b> </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="moseMoviId">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Movil </b></h3></div></th>
              <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.moseMoviId}}</b> </td>
            </ng-container>

            <ng-container matColumnDef="mosePeriodo">
                <th mat-header-cell *matHeaderCellDef> 
                  <div style="color: #2271b3;"><h3><b>Periodo </b></h3></div></th>
                <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.mosePeriodo}}</b> </td>
              </ng-container>

            <ng-container matColumnDef="moseKM">
                <th mat-header-cell *matHeaderCellDef> 
                  <div style="color: #2271b3;"><h3><b>Kilometros </b></h3></div></th>
                <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.moseKM}}</b> </td>
            </ng-container>

            <ng-container matColumnDef="moseFecha">
                <th mat-header-cell *matHeaderCellDef> 
                  <div style="color: #2271b3;"><h3><b>Fecha Limite </b></h3></div></th>
                <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.moseFecha}}</b> </td>
              </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let movilserv">
                  <button mat-icon-buttoncolor="success"  title="editar"(click)="editar(movilserv)">
                      <mat-icon>brush</mat-icon>
                  </button>&nbsp;
                  <button mat-icon-buttoncolor="success"  title="borrar" (click)="delete(movilserv)">
                      <mat-icon>delete_sweep</mat-icon>
                  </button>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas"></tr>

      </table>

      <div style="text-align: center;">
          <button mat-raised-button color="success" (click)="agregar()">Agregar</button>
      </div>
  </div>
  <div *ngIf="mostrarFormulario">

    <form [formGroup]="form">

        <div style="text-align: center;">
            <h2>Seleccione un servicio</h2>
            <mat-form-field appearance="outline">
                <mat-label>Servicio</mat-label>
                <mat-select formControlName="moseServId" required>
                    <mat-option *ngFor="let servicio of servicios" [value]="servicio.servId">
                        {{servicio.servNombre}}: {{servicio.servDescripcion}}
                    </mat-option>
                </mat-select>
                <mat-error>Selecciona una opcion valida</mat-error>
            </mat-form-field>
        </div>

        <div style="text-align: center;">
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
            &nbsp;
            <button mat-raised-button type="submit" (click)="cancelar()">Cancelar</button>
        </div>
    </form>

</div>