
    <div [hidden]="mostrarFormulario">
    
        
        <button mat-raised-button color="success" (click)="agregar()" style="float:right;">Agregar Servicio</button>
        <br>
            <table mat-table [dataSource]='dataSource' class="mat-elevation-z8" #tabla>
            
              
                <!-- Name Column -->
                <ng-container matColumnDef="servNombre">
                  <th mat-header-cell *matHeaderCellDef>
                    <div style="color: #2271b3;"><h3><b>Servicio</b> </h3></div></th>
                  <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.servNombre}} </b> </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="mosePeriodo">
                  <th mat-header-cell *matHeaderCellDef> 
                    <div style="color: #2271b3;"><h3><b>Periodo </b></h3></div></th>
                  <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.mosePeriodo}}</b> </td>
                </ng-container>
        
                <ng-container matColumnDef="mobiObservaciones">
                    <th mat-header-cell *matHeaderCellDef> 
                      <div style="color: #2271b3;"><h3><b>Observaciones</b></h3></div></th>
                    <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.mobiObservaciones}}</b> </td>
                  </ng-container>
    
                  <ng-container matColumnDef="moseKM">
                    <th mat-header-cell *matHeaderCellDef> 
                      <div style="color: #2271b3;"><h3><b>Kilometros</b></h3></div></th>
                    <td mat-cell *matCellDef="let movilservicio"> <b>{{movilservicio.moseKM}}</b> </td>
                  </ng-container>
    
    
                  <!-- ACCIONES -->
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef>                <div style="color: #2271b3;"><h3><b>Acciones </b></h3></div></th>
    
                  <td mat-cell *matCellDef="let movilserv">
                     
                    <button mat-icon-button color="editar" title="editar" (click)="editar(movilserv)">
                          <mat-icon>brush</mat-icon>
                      </button>
                      &nbsp;
                      <button mat-icon-button color="borrar" title="borrar" (click)="delete(movilserv)">
                          <mat-icon>delete_sweep</mat-icon>
                      </button>
                      &nbsp;
                      <button mat-raised-button color="add" title="agregar" a routerLink = '/movil-bitacora'>
                          Realizar Servicio
                      </button>
                </ng-container>
          
              
                <tr mat-header-row *matHeaderRowDef='columnas'></tr>
                <tr mat-row *matRowDef='let row; columns: columnas'></tr>
              </table>
              <br>
              <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
        
      </div>
    
  <div *ngIf="mostrarFormulario">

    <form [formGroup]="form">

        <div style="text-align: center;">
            <h2>Seleccione un servicio</h2>
            <mat-form-field appearance="outline">
                <mat-label>Servicio</mat-label>
                <mat-select formControlName="moseServId" required>
                    <mat-option *ngFor="let servicio of servicios" [value]="servicio.servId">
                        {{servicio.servNombre}}: {{servicio.servDescripcion}}
                    </mat-option>
                </mat-select>
                <mat-error>Selecciona una opcion valida</mat-error>
            </mat-form-field>
        </div>

        <div style="text-align: center;">
            <button mat-raised-button color="success" (click)="guardar()">Guardar</button>
            &nbsp;
            <button mat-raised-button type="submit" (click)="cancelar()">Cancelar</button>
        </div>
    </form>

</div>