<br>

    <div [hidden]="mostrarFormulario">

        <table mat-table [dataSource]="dataSource" #tabla>

            <ng-container matColumnDef="idservicio">
                <th mat-header-cell *matHeaderCellDef>
                <div style="color:#2271b3;"><h3><b>ID Servicio</b></h3></div></th>
                <td mat-cell *matCellDef="let serviciotarea"> <b>{{serviciotarea.setaServId}} </b></td>
            </ng-container>

            <ng-container matColumnDef="idtarea">
                <th mat-header-cell *matHeaderCellDef>
                <div style="color:#2271b3;"><h3><b>ID Tarea</b></h3></div></th>
                <td mat-cell *matCellDef="let serviciotarea"> <b>{{serviciotarea.setaTareId}} </b></td>
            </ng-container>

            <ng-container matColumnDef="nombretarea">
                <th mat-header-cell *matHeaderCellDef>
                <div style="color:#2271b3;"><h3><b>Nombre</b></h3></div></th>
                <td mat-cell *matCellDef="let serviciotarea"> <b>{{serviciotarea.tareNombre}} </b></td>
            </ng-container>
            
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let sertar">
                    <button mat-icon-button color="success"  title="editar"(click)="edit(sertar)">
                        <mat-icon>brush</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-icon-button color="success"  title="borrar" (click)="delete(sertar)">
                        <mat-icon>delete_sweep</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columna"></tr>
            <tr mat-row *matRowDef="let row; columns: columna"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Sin items todavia...</td>
            </tr>
        </table>

        <div style="text-align: center;">
            <button mat-raised-button color="success" (click)="agregar()">Agregar</button>
        </div>
    </div>

<div *ngIf="mostrarFormulario">
    <form [formGroup]="form">
        <div [hidden]="true">
            <input type="text" formControlName="setaServId" [(ngModel)]="servId"> 
        </div>
        <div  style="color:#2271b3;">
            <h3><b>Seleccione una Tarea:</b></h3>
            <mat-form-field appearance="outline">
                <mat-label>Tarea</mat-label>
                <mat-select formControlName="setaTareId" required>
                    <mat-option *ngFor="let tarea of tareas" [value]="tarea.tareId">
                        {{tarea.tareNombre}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione:</mat-error>
            </mat-form-field>
        </div>

        <div style="text-align: center;">
            <button mat-raised-button color="success" (click)="guardar()">Guardar</button>
            &nbsp;
            <button mat-raised-button type="submit" (click)="cancelar()">Cancelar</button>
        </div>
    </form>
</div>