<mat-card style="width: 95%;">
    <div [hidden]="mostrarFormulario">
    
       <mat-form-field style="width: 50%;">
         <mat-label><i><b> Buscar</b></i></mat-label>
         <input matInput (keyup)="filter($event)" placeholder="..." #input>
        </mat-form-field>
        
    <button mat-raised-button color="success" (click)="agregar()" style="float:right;">Agregar Servicio</button>
    
        <table mat-table [dataSource]='servicios' class="mat-elevation-z8" #tabla>
        
          
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Nombre Servicio</b> </h3></div></th>
              <td mat-cell *matCellDef="let servicio"> <b>{{servicio.servNombre}} </b> </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Descripcion </b></h3></div></th>
              <td mat-cell *matCellDef="let servicio"> <b>{{servicio.servDescripcion}}</b> </td>
            </ng-container>
    
            <ng-container matColumnDef="periodo">
                <th mat-header-cell *matHeaderCellDef> 
                  <div style="color: #2271b3;"><h3><b>Periodo </b></h3></div></th>
                <td mat-cell *matCellDef="let servicio"> <b>{{servicio.servPeriodo}}</b> </td>
              </ng-container>

              <ng-container matColumnDef="km">
                <th mat-header-cell *matHeaderCellDef> 
                  <div style="color: #2271b3;"><h3><b>Kilometros </b></h3></div></th>
                <td mat-cell *matCellDef="let servicio"> <b>{{servicio.servKM}}</b> </td>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> 
                  <div style="color: #2271b3;"><h3><b>Fecha Limite </b></h3></div></th>
                <td mat-cell *matCellDef="let servicio"> <b>{{servicio.servFecha}}</b> </td>
              </ng-container>

              <!-- ACCIONES -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>                <div style="color: #2271b3;"><h3><b>Acciones </b></h3></div></th>

              <td mat-cell *matCellDef="let servicio">
                 
                <button mat-icon-button color="success" title="editar"(click)="edit(servicio)">
                      <mat-icon>brush</mat-icon>
                  </button>
                  &nbsp;
                  <button mat-icon-button color="success" title="borrar" (click)="delete(servicio)">
                      <mat-icon>delete_sweep</mat-icon>
                  </button>
            </ng-container>
        
          
            <tr mat-header-row *matHeaderRowDef='columna'></tr>
            <tr mat-row *matRowDef='let row; columns: columna'></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>
</mat-card>
    
      <!-- Formulario-->
      <div *ngIf="mostrarFormulario">
        <mat-card>
          <mat-grid-list cols="2" rowHeight="4:2">
          <mat-grid-tile
          [colspan]="1"
          [rowspan]="1">
          <div style = "width: 100%" >
          <div style="color:#2271b3;"><div style='text-align:center' ><h3><b>Ingrese datos del Servicio</b></h3></div></div>
        
              <form [formGroup]="form">
                  <div>
                    <mat-form-field appearance="outline"  style = "width: 45%" >
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="servNombre">
                      <mat-error>El campo no puede ser vacio</mat-error>
                    </mat-form-field>
                    &nbsp;&nbsp;&nbsp;
                  <mat-form-field appearance="outline" style = "width: 45%">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="servDescripcion" required>
                    <mat-error>El campo no puede ser vacio</mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline" style = "width: 45%" >
                    <mat-label>Periodo</mat-label>
                    <input matInput formControlName="servPeriodo">

                  </mat-form-field>
                  &nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style = "width: 45%">
                  <mat-label>Kilometros</mat-label>
                  <input matInput formControlName="servKM" >

                </mat-form-field>
              </div>
              <div class= "form-group form-check">
                <input type="checkbox" id="Fecha" class="form-check-input" name="fecha" formControlName="servFecha">
                  <label class="form-check-label" for= "fecha">Fecha Limite</label>                  
              </div>
                &nbsp;&nbsp;&nbsp;
                <div>
                  <button mat-raised-button  (click)="cancelar()" style="margin-right: 10px;">Cancelar</button>
                  <button mat-raised-button color="success" (click)="guardar()">Guardar</button>
                </div>
              </form>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
          [colspan]="1"
          [rowspan]="1">
          <div style = "width: 100%" >
           <h3><b>Agregar Tarea</b></h3>
              <div *ngIf="seleccionado && seleccionado.servId && mostrarFormulario">
            <app-servicio-tarea [servId]="seleccionado.servId"></app-servicio-tarea> </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card> 
    </div>
