<mat-card style="width: 95%;">
    <div [hidden]="mostrarFormulario">
    
       <mat-form-field style="width: 50%;">
         <mat-label><i><b>Buscar</b></i></mat-label>
         <input matInput (keyup)="filter($event)" placeholder="..." #input>
        </mat-form-field>
        
    <button mat-raised-button color="success" (click)="agregar()" style="float:right;">Agregar movil</button>
    
        <table mat-table [dataSource]= 'dataSource' #tabla>
        
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color:#2271b3;"><h3><b>ID Movil</b></h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.moviId}} </b></td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Fecha Odometro</b> </h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.moviModoFecha.date| date: 'dd-LL-yyyy'}} </b> </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="odometro">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Odometro </b></h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.moviModoOdometro}}</b> </td>
            </ng-container>

              <!-- ACCIONES -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let movil">
                 
                <button title="editar" (click)="edit(movil)">
                      <mat-icon>brush</mat-icon>
                  </button>
    
                  <button title="borrar" (click)="delete(movil)">
                      <mat-icon>delete_sweep</mat-icon>
                  </button>
            </ng-container>
        
          
            <tr mat-header-row *matHeaderRowDef='columna'></tr>
            <tr mat-row *matRowDef='let row; columns: columna'></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
    
  </div>
</mat-card>
    
      <!-- Formulario-->
      <mat-card style="width: 95%;">
        <div *ngIf="mostrarFormulario">
          <div style="color:#2271b3;"><div style='text-align:center' ><h3><b>Ingrese datos del Movil</b></h3></div></div>
        
                  <form [formGroup]="form">
                      <div>
                        <mat-form-field appearance="outline">
                          <mat-label>Fecha Odometro</mat-label>
                          <input matInput formControlName="moviModoFecha" required>
                          <mat-error>El campo no puede ser vacio</mat-error>
                        </mat-form-field>
                        &nbsp;&nbsp;&nbsp;
                        <mat-form-field appearance="outline">
                          <mat-label>Odometro</mat-label>
                          <input matInput formControlName="moviModoOdometro" required>
                          <mat-error>El campo no puede ser vacio</mat-error>
                        </mat-form-field>
                      </div>
                     
                      <div>
                        <button mat-raised-button  (click)="cancelar()" style="margin-right: 10px;">Cancelar</button>
                        <button mat-raised-button color="success" (click)="guardar()">Guardar</button>              </div>
                  </form>
        
        </div>
        </mat-card>