<mat-card style="width: 97,5%;">
<div [hidden]="formularioAlta">

    
  <mat-form-field style="width: 50%;">
    <mat-label><i><b>Buscar por Patente/Descripcion</b></i></mat-label>
    <input matInput (keyup)="filter($event)" placeholder="..." #input>
   </mat-form-field>
        
    
    <table mat-table [dataSource]='dataSource' class="mat-elevation-z8" #tabla>

            <!-- Position Column -->
            <ng-container matColumnDef="patente">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color:#2271b3;"><h3><b>Patente</b></h3></div></th>
                <td mat-cell *matCellDef="let movil"> <b>{{movil.patente}} </b></td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Descripcion</b> </h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.descripcion}} </b> </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="dependencia">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Dependencia </b></h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.dependencia}}</b> </td>
            </ng-container>

            <ng-container matColumnDef="marcamodeloanio">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Modelo </b></h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.marca}} {{movil.modelo}} año {{movil.anio}}</b> </td>
            </ng-container>

            <ng-container matColumnDef="patrullaje">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Patrullaje </b></h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.tienePatrullaje}}</b> </td>
            </ng-container>
            
          



            <tr mat-header-row *matHeaderRowDef='columna'></tr>
            <tr mat-row *matRowDef='let row; columns: columna'></tr>
          </table>
          <br>
          <br>
          <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
       
</div>

</mat-card> 