<mat-card style="width: 97,5%;">
<div [hidden]="formularioAlta">

    
  <mat-form-field style="width: 50%;">
    <mat-label><i><b>Buscar por Patente/Descripcion</b></i></mat-label>
    <input matInput (keyup)="filter($event)" placeholder="..." #input>
   </mat-form-field>
    <button mat-raised-button color="success" a routerLink="/movil" style="float:right;">Volver</button>

<br>

    <table mat-table [dataSource]='dataSource' class="mat-elevation-z8" #tabla>

            <!-- Patente y Descripcion -->
            <ng-container matColumnDef="patente">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color:#2271b3;"><h3><b>Patente</b></h3></div></th>
                <td mat-cell *matCellDef="let movil"> <b>{{movil.patente}} </b></td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Descripcion</b> </h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.descripcion}} </b> </td>
            </ng-container>

            <ng-container matColumnDef="dependencia">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Dependencia </b></h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.dependencia}}</b> </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Estado</b> </h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{estado (movil.moviId,movil.moviBorrado)}}</b> </td>
            </ng-container>

          
            
          <!-- ACCIONES -->
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Seleccione movil</b></h3></div></th>
                <td mat-cell *matCellDef="let movil">
                <button type="button" [disabled]="movil.moviId !== null && movil.moviBorrado == 1" mat-raised-button color="success" title="accion" (click)="accion(movil)">
                  Agregar
                </button>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef='columna'></tr>
            <tr mat-row *matRowDef='let row; columns: columna'></tr>
          </table>
          <br>
          <br>
          <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
       
</div>

<div *ngIf="formularioAlta">

  <mat-grid-list cols="2" rowHeight="3:2">
  <mat-grid-tile
  [colspan]="1"
  [rowspan]="1">
  <div style = "width: 100%" >
     <div style="color:#2271b3;"><div style='text-align:center' ><h3><b>Detalles del Movil</b></h3></div></div>
      <table style="width: 100%;">
        <tr><td style="color: #2271b3;"><b>Patente</b></td><td><b>{{movilseleccionado.patente}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Descripcion</b></td><td><b>{{movilseleccionado.descripcion}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Dependencia</b></td><td><b>{{movilseleccionado.dependencia}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Dependencia Completa</b></td><td><b>{{movilseleccionado.dependenciaCompleta}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Marca</b></td><td><b>{{movilseleccionado.marca}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Modelo</b></td><td><b>{{movilseleccionado.modelo}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Año</b></td><td><b>{{movilseleccionado.anio}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Tipo Movil</b></td><td><b>{{movilseleccionado.tipoMovil}}</b></td></tr>
        <mat-divider></mat-divider>
      </table>
    <br>
  </div>
  <br>
   </mat-grid-tile>
   <mat-grid-tile
   [colspan]="1"
   [rowspan]="1">
   <div style = "width: 100%" >
    <div style="color:#2271b3;"><div style='text-align:center' ><h3><b>Agregar Grupo</b></h3></div></div>
    <div *ngIf="movilseleccionado && movilseleccionado.moviId && formularioAlta">
      <app-movil-grupo [moviId]="movilseleccionado.moviId"></app-movil-grupo> </div>
    </div>
  </mat-grid-tile>
  </mat-grid-list>
<br>
<div style="text-align: center">
  <button type="button" mat-raised-button color="success" title="accion" (click)="agregar()">
  Agregar
  </button> &nbsp; &nbsp;
  <button type="button" mat-raised-button color="" title="accion" (click)="cancelar()">
  Cancelar
  </button>

</div>
</div>
</mat-card> 