<mat-card style="width: 97,5%;">
<div [hidden]="formularioAlta">
  <div style="color:#2271b3;"><div style='text-align:center' ><h3><b>Agregar Movil a Mantenimiento</b></h3></div></div>


    
  <mat-form-field style="width: 50%;">
    <mat-label><i><b>Buscar por Patente/Descripcion</b></i></mat-label>
    <input matInput (keyup)="filter($event)" placeholder="..." #input>
   </mat-form-field>    
    <button mat-raised-button color="" a routerLink="/movil" style="float:right;">Volver</button> &nbsp; &nbsp;

<br>

    <table mat-table [dataSource]='dataSource' class="mat-elevation-z8" #tabla>

            <!-- Patente y Descripcion -->
            <ng-container matColumnDef="patente">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color:#2271b3;"><h3><b>Patente</b></h3></div></th>
                <td mat-cell *matCellDef="let movil"> <b>{{movil.patente}} </b></td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Descripcion</b> </h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.descripcion}} </b> </td>
            </ng-container>

            <ng-container matColumnDef="dependencia">
              <th mat-header-cell *matHeaderCellDef> 
                <div style="color: #2271b3;"><h3><b>Dependencia </b></h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{movil.dependencia}}</b> </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Estado</b> </h3></div></th>
              <td mat-cell *matCellDef="let movil"> <b>{{estado (movil.moviId,movil.moviBorrado)}}</b> </td>
            </ng-container>

          
            
          <!-- ACCIONES -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>
                <div style="color: #2271b3;"><h3><b>Seleccionar Accion</b></h3></div></th>
                <td mat-cell *matCellDef="let movil">
                <button type="button" [disabled]="movil.moviBorrado == 1 || movil.moviBorrado == 0" mat-raised-button color="add"  title="agregar" (click)="agregar(movil)">
                 Agregar</button>&nbsp;

                <button type="button" [disabled]="movil.moviBorrado == 0 || movil.moviBorrado == null" mat-raised-button color="editar" title="reactivar" (click)="reactivar(movil)">
                Reactivar</button>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef='columna'></tr>
            <tr mat-row *matRowDef='let row; columns: columna'></tr>
          </table>
          <br>
          <br>
          <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
       
</div>

<!-- Formulario -->
<div *ngIf="formularioAlta">
  <mat-horizontal-stepper linear>
    <mat-step label="Detalles de Movil">
  
      <table style="width: 100%;">
        <tr><td style="color: #2271b3;"><b>Patente</b></td><td><b>{{movilseleccionado.patente}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Descripcion</b></td><td><b>{{movilseleccionado.descripcion}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Dependencia</b></td><td><b>{{movilseleccionado.dependencia}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Dependencia Completa</b></td><td><b>{{movilseleccionado.dependenciaCompleta}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Marca</b></td><td><b>{{movilseleccionado.marca}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Modelo</b></td><td><b>{{movilseleccionado.modelo}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Año</b></td><td><b>{{movilseleccionado.anio}}</b></td></tr>
        <mat-divider></mat-divider>
        <tr><td style="color: #2271b3;"><b>Tipo Movil</b></td><td><b>{{movilseleccionado.tipoMovil}}</b></td></tr>
        <mat-divider></mat-divider>
      </table>
    <br>
    <div>
      <button type="button" mat-raised-button color="success" mat-button matStepperNext>Siguiente</button>
    </div>  
</mat-step>

<mat-step label="Agregar Grupo">


  <div style = "width: 100%" >
    <div *ngIf="movilseleccionado && movilseleccionado.moviId && formularioAlta">
      <app-movil-grupo [moviId]="movilseleccionado.moviId"></app-movil-grupo> </div>
    </div>

    <div>
      <button type="button" mat-raised-button (click)="cancelar()">Aceptar</button>
      &nbsp;
      <button type="button" mat-raised-button color="success" mat-button matStepperNext>Siguiente</button>
    </div> 
</mat-step>
<mat-step label="Agregar Odometro(opcional)">
  <app-movil-odometro [moviId]="movilseleccionado.moviId"></app-movil-odometro>
  <button type="button" mat-raised-button color="success" mat-button matStepperNext>Siguiente</button>

</mat-step>
<mat-step>
  <ng-template matStepLabel>Fin</ng-template>
  <br>
  <div style="color:#2271b3;">
    <div style='text-align:center' ><h3><b>El movil se agrego exitosamente</b></h3></div></div>

  <br>
    <button type="button" mat-raised-button color="success" a routerLink="/movil" >Salir</button>

</mat-step>


<br>


</mat-horizontal-stepper>
</div>
</mat-card> 