
    <div [hidden]="mostrarFormulario">
    
            <table mat-table [dataSource]='dataSource' class="mat-elevation-z8" #tabla>
            
              
                <!-- Name Column -->
                <ng-container matColumnDef="grupNombre">
                  <th mat-header-cell *matHeaderCellDef>
                    <div style="color: #2271b3;"><h3><b>Servicio</b> </h3></div></th>
                  <td mat-cell *matCellDef="let movilgrupo"> <b>{{movilgrupo.grupNombre}} </b> </td>
                </ng-container>

                
                  <!-- ACCIONES -->
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef>                <div style="color: #2271b3;"><h3><b>Acciones </b></h3></div></th>
    
                  <td mat-cell *matCellDef="let movilgrup">
                     
                    <button mat-icon-button color="success" title="editar" (click)="edit(movilgrup)">
                          <mat-icon>brush</mat-icon>
                      </button>
                      &nbsp;
                      <button mat-icon-button color="success" title="borrar" (click)="delete(movilgrup)">
                          <mat-icon>delete_sweep</mat-icon>
                      </button>
                </ng-container>
          
              
                <tr mat-header-row *matHeaderRowDef='columnas'></tr>
                <tr mat-row *matRowDef='let row; columns: columnas'></tr>
              </table>
              <br>
              <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
        
      </div>
    