
    <div [hidden]="mostrarFormulario">
        <br>
        <div style="color:#2271b3;"><div style='text-align:center' ><h3><b>Agregar Grupo</b></h3></div></div>

            <table mat-table [dataSource]='dataSource' class="mat-elevation-z8" #tabla>
            

                <!-- columnas -->
                <ng-container matColumnDef="grupNombre">
                  <th mat-header-cell *matHeaderCellDef>
                    <div style="color: #2271b3;"><h3><b>Nombre Grupo</b> </h3></div></th>
                  <td mat-cell *matCellDef="let movilgrupo"> <b>{{movilgrupo.grupNombre}} </b> </td>
                </ng-container>
              
    
                  <!-- ACCIONES -->
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef>             
                         <div style="color: #2271b3;"><h3><b>Acciones </b></h3></div></th>
    
                  <td mat-cell *matCellDef="let movilgrup">
                     
                    <button mat-icon-button color="editar" title="editar" (click)="edit(movilgrup)">
                          <mat-icon>brush</mat-icon>
                      </button>
                      &nbsp;
                      <button mat-icon-button color="borrar" title="borrar" (click)="delete(movilgrup)">
                          <mat-icon>delete_sweep</mat-icon>
                      </button>
                </ng-container>
          
              
                <tr mat-header-row *matHeaderRowDef='columnas'></tr>
                <tr mat-row *matRowDef='let row; columns: columnas'></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Sin items todavia...</td>
                </tr>  
            </table>
              <br>
              <div style="text-align: center;">
                <button mat-raised-button color="success" (click)="agregar()">Agregar</button>
            </div>
      </div>
    
  <div *ngIf="mostrarFormulario">
    <div style="color:#2271b3;"><div style='text-align:center' ><h3><b>Agregar Grupo</b></h3></div></div>

    <form [formGroup]="form">

        <div style="text-align: center;" style="color:#2271b3;" >
            <h3>Seleccione un grupo</h3>
            <mat-form-field appearance="outline">
                <mat-label>Grupo</mat-label>
                <mat-select formControlName="mogrGrupId" required>
                    <mat-option *ngFor="let grupo of grupos" [value]="grupo.grupId">
                        {{grupo.grupNombre}}: {{grupo.grupDescripcion}}
                    </mat-option>
                </mat-select>
                <mat-error>Selecciona una opcion valida</mat-error>
            </mat-form-field>
        </div>

        <div style="text-align: center;">
            <button mat-raised-button color="success" (click)="guardar()">Guardar</button>
            &nbsp;
            <button mat-raised-button type="submit" (click)="cancelar()">Cancelar</button>
        </div>
    </form>

</div>