/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
}
table {
    width: 100%;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .mat-raised-button.mat-success {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #f0fff3;
    background-color: #145e9b
  }

  .mat-icon-button.mat-success {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #f0fff3;
    background-color: #d68058
  }
  .mat-icon-button.mat-editar {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #f0fff3;
    background-color: #78a77e
  }
  .mat-icon-button.mat-add {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #f0fff3;
    background-color:  #145e9b
  }
  .mat-icon-button.mat-borrar {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #f0fff3;
    background-color: #b93838
  }
  .mat-raised-button.mat-add {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #f0fff3;
    background-color:  #145e9b
  }
  .mat-raised-button.mat-editar {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #f0fff3;
    background-color:  #78a77e
  }
  
  .mat-form-field {
    margin-top: 16px;
    
  }